<h3>Top Djs</h3>
<div class="row">
	<div class="col s12" *ngFor="#dj of Djs" [ngClass]="{l6: dj.rank === 1, l3: dj.rank < 6, l2: dj.rank >= 6}">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light" (click)="gotoDetail(dj)">
      			<img class="activator" src="{{ dj.imageUrl }}">
    		</div>
		    <div class="card-content">
	      		<span class="card-title grey-text text-darken-4" style="font-size: 1em; font-weight: 500;">
		      		{{ dj.name }}
	      		</span>
	      		<div *ngIf="dj.rank === 1">
	      			<div style="height:94px;"> {{dj.name }} Ranks {{ dj. rank }} in 2015!
	      				<p>
      						Belgium brothers Dimitri Vegas & Like Mike have been crowned as the No.1 DJs in our annual Top 100 DJs poll, powered by 7UP.

							The stadium-filling pairing, are the first ever winners from Belgium and also the first duo to take the No.1 spot.
	      				</p>
	      			</div>
	      		</div>
		    </div>
		</div>
	</div>
</div>